<div class="row">
  <div class="col-sm-12">
      <h2>Posts</h2>
      <div class="list-group">
        <div [ngClass]="{'list-group-item': true,
            'list-group-item-success': post.loveIts > '0',
            'list-group-item-danger': post.loveIts < 0}"
            *ngFor="let post of posts; let i = index">
        
          <h3 class="list-group-item-heading">
            {{ post.title }}
            <span class="float-right">
              <h6>{{ post.getCreatedAtString() }}</h6>
            </span>
          </h3>
          <p class="list-group-item-text">{{ post.content }}</p>
          <br/>

          <button class="btn btn-success" 
          (click)="onLoveIt(i)">Love it</button>
          <button class="btn btn-danger" 
          (click)="onDontLoveIt(i)">Don't love it</button>

        </div>
      </div>
  </div>
</div>